# sbt / Scala
target/
project/target/
project/project/
.metals/
.bloop/
.idea/
*.class
*.log
.DS_Store

# --- sbt / Scala build artifacts ---
**/target/
**/project/target/
**/.bsp/
**/.bloop/
**/.metals/
**/.idea/
**/.classpath
**/.project
**/.settings/
