# sbt/scala
target/
project/target/
project/project/
.metals/
.bloop/
.idea/
*.class
*.log

# OS / Editor
.DS_Store
*.swp
*.swo

# node/npm (혹시 섞여 있어도 대비)
node_modules/

# coursier/ivy caches (일반적으로 커밋 불가)
.cache/
.ivy2/
.coursier/

# IDE/BSP metadata
.bsp/
**/.bsp/
